# 🔐 Конфиденциальные данные
.env

# 🧠 Векторные базы и расписания пользователей
/vector_db/
/schedules/

# 📂 Временные файлы при загрузке
file-service/temp/

# 💾 Системные и кэш-файлы
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# 📦 IDE/Editor
.vscode/
.idea/

# 📜 Jupyter/Notebook
*.ipynb_checkpoints/

# 🐍 Virtual environments
venv/
env/
.venv/

# 💣 OS files
.DS_Store
Thumbs.db


#мусор
/1/